<div class="">
  <div class="fa fa-spinner fa-pulse loading" *ngIf="!Loaded"></div>
  <ul class="timeline" *ngIf="Loaded">
      <li class="animated" *ngFor="let contentBlock of AboutData; let blockIndex = index"
           [class.timeline-inverted]="contentBlock.type == 'content' && blockIndex%2 == 0"
           [class.slideInRight]="contentBlock.type == 'content' && blockIndex%2 == 0"
           [class.slideInLeft]="blockIndex%2 != 0">
          <div *ngIf="contentBlock.type == 'heading'" class="tldate">{{contentBlock.value}}</div>

          <div *ngIf="contentBlock.type == 'content'">
              <div class="tl-circ"></div>
              <div class="timeline-panel">
                  <div class="tl-heading">
                  <h4>{{contentBlock.value.heading}}</h4>
                  <p *ngIf="contentBlock.value.subheading"><small class="text-muted"><i class="fa fa-clock-o">{{contentBlock.value.subheading}}</i></small></p>
                  </div>
                  <div class="tl-body">
                  <p *ngFor="let image of contentBlock.value.images">
                      <img class="image" [src]="image">
                  </p>
                  <p *ngFor="let data of contentBlock.value.body" [innerHTML]="data">                            
                  </p>
                  <p class="moral-text" *ngIf="contentBlock.value.moral">Moral of the Story : {{contentBlock.value.moral}}</p>
                  </div>
              </div>
          </div>
      </li>
  </ul>
</div>