<div class="row">
  <div class="container">
    <div class="col-md-10">
      <table class="table table-bordered text-center text-white">
        <thead class="bg-dark">
          <tr>
            <th>Name</th>
            <th>Comment Body</th>
            <th>Date</th>
            <th>Approve Comments</th>
          </tr>
        </thead>

        <tbody class="text-dark">
          <tr *ngFor="let comment of commentData">
            <td style="width: auto;">{{comment.name}}</td>
            <td>{{comment.body}}</td>
            <td>{{getDate(comment.creationDate)}}</td>
            <td>{{comment.commentIsApproved}}</td>
          </tr>
        </tbody>


      </table>
    </div>
  </div>
</div>