<div class="row">
  <div class="container">
    <div class="alert alert-secondary text-center">
      <h1>Comments for "{{post?.title}}"</h1>    
    </div>
    <div class="col-md-10">
      <table class="table table-bordered text-center text-white">
        <thead class="bg-dark">
          <tr>
            <th>Name</th>
            <th>Comment Body</th>
            <th>Date</th>
            <th>Approve Comments</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody class="text-dark">
          <tr *ngFor="let comment of commentData">
            <td style="width: auto;">{{comment.name}}</td>
            <td>{{comment.body}}</td>
            <td>{{getDate(comment.creationDate)}}</td>
            <td><app-toggle [isChecked]="comment.commentIsApproved" (stateUpdated)="toggleCommentApproval($event, comment)"></app-toggle></td>
            <td>
              <button class="btn btn-sm btn-danger" (click)="deleteComment(comment)">
                <span class="fa fa-trash"></span>
              </button>
            </td>
          </tr>
        </tbody>


      </table>
    </div>
  </div>
</div>