<div class="section-modal" [class.modalShow]="modalShow"></div>
<div class="section animated attachedRight" [class.slideOutRight]="isClosing" [class.slideInRight]="isOpening" [class.expanded]="expanded">
    <div class="section-close-btn col-xs-12">
        <div (click)="onClose()" class="section-close fa fa-times"></div>
    </div>
	<p class="section-title">Blog </p>
    <div class="section-content">
        
        <div class="section-links">
            <!-- <a (click)="openChild()">Sales and Marketing</a> -->
            <a class="row section-link" (click)="showPost(post)" [class.isActive]="activePostId==post._id" *ngFor="let post of postData">
                <p class="section-link-text">{{post.title}}</p>
            </a>
            
        </div>
        <div class="section-expansion" *ngIf="expanded" >
            <div class="expanded-content glossary" >
                <app-blog-article [post]="activePost"></app-blog-article>
            </div>           
        </div>
    </div>
</div>
