<div class="contact-modal" [class.modalShow]="modalShow"></div>
<div class="contact animated attachedLeft" [class.slideOutLeft]="isClosing" [class.slideInLeft]="isOpening" [class.expanded]="expanded">
    <div class="contact-close-btn col-xs-12">
        <div (click)="onClose()" class="contact-close fa fa-times"></div>
    </div>
	<p class="contact-title">Contact </p>
    <div class="contact-content">
        
        <div class="contact-links">
            <!-- <a (click)="openChild()">Sales and Marketing</a> -->
            <a class="row contact-link" (click)="expanded=true; activeIndex=0" [class.isActive]="activeIndex==0"><p class="contact-link-text"> Mail</p></a>
            <a class="row contact-link" (click)="expanded=true; activeIndex=1" [class.isActive]="activeIndex==1"><p class="contact-link-text"> Reach out</p></a>
            
        </div>
        <div class="contact-expansion" *ngIf="expanded" [ngSwitch]="activeIndex">
            
            <div class="expanded-content" *ngSwitchCase="0">
                <app-email></app-email>
            </div>

            <div class="expanded-content" *ngSwitchCase="1">
                <social-component></social-component>
            </div>

        </div>
    </div>
</div>
