<!-- Single Comment -->
<div class="media mb-4" *ngFor="let comment of comments; let i=index">
  <div class="d-flex mr-3 rounded-circle profile-image">
    <img src="https://avatar.oxro.io/avatar.svg?name={{comment.name}}&length=2">
  </div>
  <div class="media-body">
    <h5 class="mt-0">{{comment.name}}</h5>
    <p *ngIf="comment.commentIsApproved">{{comment.body}}</p>
    <p class="disabled-comment" *ngIf="!comment.commentIsApproved">
      <i><span class="fa-exclamation-triangle"></span> Comment has been disapproved by the admin.</i>
    </p>
  </div>
</div>