<div class="container">
  <form class="upload-image-form" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
    <!-- <div class="row">
      <div class="col-sm-6">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="customFile" multiple (change)="onFileSelect($event)">
          <label class="custom-file-label" for="customFile">{{fileInputLabel || 'Choose File'}}</label>
        </div>
      </div>

      <div class="col-sm-6"> <button class="btn btn-primary" type="submit">Upload</button> </div>

    </div> -->
    <input type="file" class="upload-image-input" id="customFile" multiple (change)="onFileSelect($event)">
    <label class="upload-image-label" for="customFile">{{fileInputLabel || 'Drag your files here or click in this area.'}}</label>
    <button class="upload-image-button btn btn-info" type="submit" [class.disabled]="images == undefined" [disabled]="images == undefined">Upload</button>
  </form>
</div>