<div class="main">
    
  <!-- <splash *ngIf="isAppReady === false"></splash> -->
  <!--<router-outlet></router-outlet>-->
  <div class="router">
   <router-outlet></router-outlet>
  </div>


   <div class="video-holder">
      <div class="video-overlay"></div>
      <video autoplay src="./assets/videos/bg-vid.mp4" muted loop></video>
  </div>

   <div class="sub-main">
      <div class="heading-text">
          <h1>Mahir</h1>
          <h1>Shaikh</h1>        
      </div>
  </div>

  <div class="mobile-view">
      <div class="button-container">
          <span class="fa fa-angle-double-down" [routerLink]="['/dashboard', 'social']" routerLinkActive="active"></span>
      </div>
  </div>
</div>