video {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    opacity: 0.2;
    pointer-events: none;
  }
  
  .video-overlay{
      opacity: 0.5;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-image: url("../assets/images/overlay.png");
  }
  
  .sub-main{
      position: fixed;
      top: 50%;
    left: 50%;
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
     width: auto;
    height: auto;
    transform: translate(-50%, -50%);
  }
  
  .sub-main .heading-text{
      width: 100%;
      height: 100%;
      margin: 50% 0px;
      text-align: center;
  }
  
  .sub-main .heading-text h1{
      font-size: 6rem;
  }
  
  .router{
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 3;
  }
  
  .mobile-view {
      display: none;
      position: absolute;
      left: 50%;
      transform: translate(-50%,0);
      bottom: 80px;
      z-index: 4;
    }
  
  .button-container{
    font-size: 3rem;
    cursor: pointer;
  }
  
  .button-container .fa.active{
    display: none;
  }
  
  @media screen and (max-width: 768px) {
    .mobile-view {
      display: block;
    }
  }
  