<div class="social-wrapper">

  <div class="row text-wrapper">
    <div class="heading-text">
      Contact Me
    </div>

    <div class="sub-heading-text">
      Please feel free to contact me.
    </div>
  </div>

  <div class="row social-media-wrapper">
    <div class="single-social-media-container animated bounce col-sm-4">
      <div class="icon-container phone-container"><a href="tel:8898778567"><span class="fa fa-phone-square"></span></a></div>
    </div>
    <div class="single-social-media-container animated bounce col-sm-4">
      <div class="icon-container mail-container"><a href="mailto:bizmahir95@gmail.com"><span class="fa fa-envelope-square"></span></a></div>
    </div>
    <div class="single-social-media-container animated bounce col-sm-4">
      <div class="icon-container facebook-container"><a href="https://www.facebook.com/mahir.shaikh.1291" target="_blank"><span class="fa fa-facebook-square"></span></a></div>
    </div>
    <div class="single-social-media-container animated bounce col-sm-4">
      <div class="icon-container instagram-container"><a href="https://www.instagram.com/ultimatemahir/" target="_blank"><span class="fa fa-instagram"></span></a></div>
    </div>
    <div class="single-social-media-container animated bounce col-sm-4">
      <div class="icon-container snapchat-container"><a href="https://www.snapchat.com/add/ultimatemahir" target="_blank"><span class="snapcode"></span></a></div>
    </div>
    <div class="single-social-media-container animated bounce col-sm-4">
      <div class="icon-container linkedin-container"><span class="fa fa-linkedin-square"></span></div>
    </div>
  </div>
</div>