<div class="about-modal" [class.modalShow]="modalShow"></div>
<div class="about animated attachedLeft" [class.slideOutLeft]="isClosing" [class.slideInLeft]="isOpening" [class.expanded]="expanded">
    <div class="about-close-btn col-xs-12">
        <div (click)="onClose()" class="about-close fa fa-times"></div>
    </div>
	<p class="about-title header">About </p>
    <div class="about-content">
        <!-- <app-aboutdata></app-aboutdata> -->
        <div class="about-links">
            <!-- <a (click)="openChild()">Sales and Marketing</a> -->
            <a class="row about-link" (click)="expanded=true; activeIndex=0" [class.isActive]="activeIndex==0"><p class="about-link-text"> About</p></a>
            <a class="row about-link" (click)="expanded=true; activeIndex=1" [class.isActive]="activeIndex==1"><p class="about-link-text"> Strengths</p></a>
            <a class="row about-link" (click)="expanded=true; activeIndex=2" [class.isActive]="activeIndex==2"><p class="about-link-text"> Factors I need to work on</p></a>
            
        </div>
        <div class="about-expansion" *ngIf="expanded" [ngSwitch]="activeIndex">
            
            <div class="expanded-content" *ngSwitchCase="0">
                <app-aboutdata></app-aboutdata>
            </div>

            <div class="expanded-content" *ngSwitchCase="1">
                Strengths Component Here!!!
            </div>

            <div class="expanded-content" *ngSwitchCase="2">
                    Weekness Component Here!!!
            </div>
        </div>
    </div>
</div>
