@import './assets/css/styles.styl'

.section-close 
    width 40px
    height 40px
    line-height 40px
    border-radius 50%
    right 10px
    top -5px
    float right
    cursor pointer
    position relative
    text-align center
    font-size 1.5em
    border solid 3px #005495
    &:hover
        background-color #005495
        color #FFF
        -webkit-transition 1s ease-out
        -moz-transition  1s ease-out
        -ms-transition  1s ease-out
        transition  1s ease-out
        -ms-transform rotate(-360deg)
        -moz-transform rotate(-360deg)
        -webkit-transform rotate(-360deg)
        transform rotate(-360deg)